h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    transition: all ease-in-out 0.3s;
}

:root {
    --primary-blue: #01208E;
    --secondary-orange: #FE7400;
    --light-orange: #FD8D2f;
    --primary-gray: #717070;
    --primary-white: #FFFFFF;

    --primary-font: "Rubik", sans-serif;
    --heading-font: "Yeseva One", serif;
    --robboto-font: "Roboto", sans-serif;
    --popoppins-font: "Poppins", sans-serif;
}

body {
    font-family: var(--primary-font);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
     
}

/* Banner part css start */
.name-me {
    /* --robboto-font: "Roboto", sans-serif; */
    font-family: var(--heading-font);
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner {
    /* background: linear-gradient(270deg , #391f0a , #b6733b ,#8f6848) */

    /* background: linear-gradient(90deg, #254013, #feb47b, #86a8e7, #261439); */
}

.name-me-p {
    --robboto-font: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(90deg, #4529d1, #b3a2ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.masum-image {
    margin-top: -160px;
}


/* Banner part css end */